
body {
    font-family: Arial, Calibri, sans-serif;
    margin: 0;
    background: #f1f1f1;
}

/* Header */
header {
    background: #333;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

/* Navbar */
nav {
    background: #222;
    display: flex;
    justify-content: left;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background: #444;
}

/* Sections */
section {
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 10px;
}

h2 {
    margin-top: 0;
}

/* Skills */
.skills span {
    display: inline-block;
    background: #222;
    color: white;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
}

/* Back to Top Button */
#topBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 16px;
    border: none;
    border-radius: 50%;
    background: #333;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
